@font-face {
    font-family: 'MavenPro';
    src: url('../fonts/MavenPro.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'splineSans-bold';
    src: url('../fonts/SplineSans-Bold.ttf') format('truetype');
}

:root {
    --color1: #69af07;
    --color2: #4252FF;
    --color3: #81680f;
    --color4: #f6f3ec;
    --font-regular: 'MavenPro';
    --font-bold: 'splineSans-bold';
}

body {
    font-family: var(--font-regular) !important;
}


.bg-color1 {
    background-color: var(--color1);
}

.bg-color2 {
    background-color: var(--color2);
}

.bg-color3 {
    background-color: var(--color3);
}

.bg-color4 {
    background-color: var(--color4);
}

.t-color1 {
    color: var(--color1);
}

.t-color2 {
    color: var(--color2);
}

.t-color3 {
    color: var(--color3);
}

.t-color4 {
    color: var(--color4);
}

/* ------------- Estilos generales --------------- */
a, a:visited, a:link {
    text-decoration: none;
    color: var(--color1);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-bold);
}

.t-shadow1-dark {
    text-shadow: 4px 4px 5px #000 ;
}

/* ------------------ HEADER 1 ------------------ */
.border-left {
    border-left: .5px solid #000;
}
.border-bottom {
    border-bottom: .5px solid #000;
}
.bg-trans {
    background-color: #ffffffe7;
}

/* ------------------ MENU1 --------------- */
.menu1 .nav-item {
    border-bottom: 2px solid transparent;
}
.menu1 .nav-item:hover {
    color: var(--color1);
    border-bottom: 2px solid var(--color1);
}
.menu1 .nav-link:hover {
    color: var(--color1) !important;
}
.menu1 .nav-link.active {
    border-bottom: 2px solid var(--color1);
}
.menu1 .nav-link {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: .5px;
}

.bg-img1 {
    background: url('../img/fondos/1.jpg') no-repeat center;
    background-size: cover;
}

/* ------------------ SECTION 1 -------------- */
.section-1 i{
    font-size: 40px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 8px solid #fff;
    outline: 1px solid transparent;
}

.section-1 .ficha:hover i {
    background-color: #000 !important;
    outline: 1px solid #000;
    color: #fff;
    transition: all .7s;
}

/* ---------------- SECTION2 ------------------- */

.section-2 .items {
    position: relative;
    padding: 60px 25px 20px ;
}
.section-2 .items i {
    font-size: 35px;
    width: 80px;
    height: 80px;
    background-color: var(--color1);
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -45px;
}

.section-2 .items:hover i {
    background-color: #000;
    color: #fff;
    transition: all .6s;
}
.section-2 .items:hover h5 {
    color: var(--color1);
    transition: all .6s;
}

/* ----------------- TESTIMONIALS 1 ---------------- */

.testimonials-1 .foto img {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.685);
}



/* ------------------ MENU1 ----------------- */
/* .menu-1 .nav-item {
    border-style: solid;
    border-width: 1px 0px;
    border-color: var(--color1);
    font-weight: bold;
}
.menu-1 .nav-item.active {
    background-color: var(--color1) !important;
    
    box-shadow: -3px -2px 2px #777;
}
.menu-1 .nav-item.active a{
    color: #fff;    
}

.menu-1 .nav-item:hover {
    transform: translateY(-5px);
    box-shadow: -3px -2px 5px #777;
    transition: all .5s;
} */

/* --------- SLIDER-1 -------------*/
/* .slider-1 .carousel-item {
    animation: fadeInLeft 1s ease-in-out;
}
.slider-1 .carousel-caption h5 {
    font-size: 3em !important;
}
.slider-1 .carousel-caption h6 {
    font-size: 2em !important;
}
@media (max-width: 576px) {
    .slider-1 .carousel-caption {
        bottom: 25% !important;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .slider-1 .carousel-caption {
        bottom: 35% !important;
    }
}
@media (min-width: 768px) {
    .slider-1 .carousel-caption {
        bottom: 30% !important;
    }
}  */

/* ----------- MENU MOBILE1 --------------- */
/* .menu-mobile1 {
    position: absolute;
    bottom: 0;
    background-color: var(--color3);
}
.menu-mobile1 .col-4{
    border: 1px solid #000;
    border-collapse: collapse;
}


.serv-acordion .col-1 {
    animation: pulse 1s infinite;
}  */

/* 
@media (max-width: 576px) {
    
}
@media (min-width: 576px) and (max-width: 768px) {
    
}
@media (min-width: 768px) {
   
} 
*/




